<!DOCTYPE html>
<html lang="en">
  <!--
    The next iteration of our Mythical Mysfits website. Updates include
    dynamically pulling the mysfits from our backend service via the network
    load balancer DNS name. There is also additional functionality for filtering
    mysfits that we have yet to implement on the backend service.  You will see
    the buttons available on the webpage, but because that functionality isn't
    implemented on the backend, it does not yet work.  You will implement it during
    module 3!
  -->
  <head>
    <title>Mythical Mysfits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>

  <body ng-app="misfitsApp" style="background-color:#EBEBEB">
    <style>
      @media (max-width: 800px) {
      	img {
          max-width: 300px;
      	}
      }
    </style>
    
    <br>
    
    <div style="text-align: center">
      <img src="https://www.mythicalmysfits.com/images/mysfits_banner.gif" width="800px" align="center">
    </div>
    
    <div class="container" ng-controller="mysfitsFilterController">
      <div id="filterMenu">
        <ul class="nav nav-pills">
          &nbsp;
          <li class="nav-item dropdown" ng-repeat="filterCategory in filterOptionsList.categories">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">{{filterCategory.title}}</a>
            <div class="dropdown-menu" >
              <button class="dropdown-item" ng-repeat="filterCategorySelection in filterCategory.selections" ng-click="queryMysfits(filterCategory.title, filterCategorySelection)">{{filterCategorySelection}}</button>
            </div>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" class="btn btn-success" ng-click="removeFilter()">View All</button>
          </li>
        </ul>
      </div>
    </div>

    <br>

    <div class="container">
      <div id="mysfitsGrid" class="row" ng-controller="misfitsListController">
          <!-- misfits below is from the $scope -->
          <div class="col-md-4 border border-warning" ng-repeat="misfit in misfits"> 
              <br>
              <p align="center">
                <strong> {{misfit.name}}</strong>
                <br>
                <img src="{{misfit.thumbImageUri}}" alt="{{misfit.name}}">
              </p>
              <p>
                <br>
                <b>Species:</b> {{misfit.species}}
                <br>
                <b>Age:</b> {{misfit.age}}
                <br>
                <b>Good/Evil:</b> {{misfit.goodevil}}
                <br>
                <b>Lawful/Chaotic:</b> {{misfit.lawchaos}}
              </p>
          </div>
        </div>
      </div>
    <p>
      <br>
      <br>
      &nbsp;&nbsp;This site was created for use in the AWS Modern Application Workshop. <a href="https://github.com/aws-samples/aws-modern-application-workshop">Please see details here.</a>
    </p>
  </body>

  <script>
  var gridScope;
  var filterScope;
  /* For Production deployment */ 
  var mysfitsApiEndpoint = 'https://mysfitsapiendpoint.mydevop.co.in'; // example: 'http://mythi-publi-abcd12345-01234567890123.elb.us-east-1.amazonaws.com'

  /* For Local Deployment */  
  // var mysfitsApiEndpoint = 'http://localhost:3000' //we are using localhost instead of the container name because the app is running on the web browser (which is external to the network) and not in a container (refer https://www.udemy.com/course/docker-kubernetes-the-practical-guide/learn/lecture/22167026#notes)

  var app = angular.module('misfitsApp', []);

  /* Populate the main misfit grid on page load. */
  /* This is the first function that is being called by the HTML body*/
  app.controller('misfitsListController', function($scope) {
    gridScope = $scope;
    getAllMisfits(applyGridScope); //will get all the misfits and will Add the updated list of misfits to the $scope 
  });

  /* Clears the filter */
  app.controller('clearFilterController', function($scope) {});

  /* Add the updated list of misfits to the $scope */
  function applyGridScope(misfitsList) {
    gridScope.misfits = misfitsList;
    gridScope.$apply();
  }

  /* Populate the main mysfit grid with the filter selected. */
  app.controller('mysfitsFilterController', function($scope) {
      filterScope = $scope;
      // The possible options for Mysfits to populate the dropdown filters.
      $scope.filterOptionsList =
       {
         "categories": [
           {
             "title": "Good/Evil",
             "selections":  [
               "Good",
               "Neutral",
               "Evil"
             ]
           },
           {
             "title": "Lawful/Chaotic",
             "selections":  [
               "Lawful",
               "Neutral",
               "Chaotic"
             ]
           }
         ]
       };

       /*
          The View All button has been selected, retrieve all the mysfits.
      */
       $scope.removeFilter = function() {
        getAllMisfits(applyGridScope);
       }

       $scope.queryMysfits = function(filterCategory, filterValue) {
        getFilteredMisfits(filterCategory, filterValue)
       }
    });


  /* Retrieve the full list of mysfits from the backend service API. */
  function getAllMisfits(applyGridScope) {
    var mysfitsApi = mysfitsApiEndpoint + '/misfits';
    $.ajax({
      url : mysfitsApi,
      type : 'GET',
      success : function(response) {
          console.log("FETCHED ALL LIST")
          var misfitsList = response.results
          applyGridScope(misfitsList);            
        // });
      },
      error : function(response) {
        console.log("could not retrieve misfits list.");
        console.log(response.message);
      }
    });
  }

  /* Retrieve the FILTERED list of mysfits from the backend service API. */
  function getFilteredMisfits(filterCategory, filterValue){
    var filterCategoryQS = "";
    if (filterCategory==="Good/Evil") {
      filterCategoryQS = "GoodEvil";
    } else {
      filterCategoryQS = "LawChaos"
    }
    var mysfitsApi = mysfitsApiEndpoint + '/misfits?' + 'filter=' + filterCategoryQS + "&value=" + filterValue;

    $.ajax({
      url : mysfitsApi,
      type : 'GET',
      success : function(response) {
        console.log("FETCHED FILTERED LIST")
        var misfitsList = response.results
        applyGridScope(misfitsList)
      },
      error : function(response) {
        console.log("could not retrieve mysfits list.");
        console.log(response.message);
      }
    });
  }
  </script>
</html>
